<a class="skip" href="#main">Skip to content</a>
<header class="site">
  <div class="wrap">
    <a class="brand" href="/">UnENVerse</a>
    <nav class="main" aria-label="Main">
      <a href="/download/"{{CUR_download}}>Download</a>
      <a href="/quickstart/"{{CUR_quickstart}}>Quickstart</a>
      <a href="/guides/"{{CUR_guides}}>Guides</a>
      <a href="/security/"{{CUR_security}}>Security</a>
      <a href="/docs/">Docs</a>
      <a href="https://github.com/darthdemono/UnENVerse">GitHub</a>
    </nav>
  </div>
</header>
